html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*body*/
html {
  position: relative;
  min-height: 100%;
  font-family:"Inter"
}
/*icons*/
*:not(.fa-solid):not(.fa):not(.e-icons){
    font-family:"Inter"
}
body {
  margin-bottom: 30px;
  background-color: #12161d;
  color:white

}
.e-bigger {
    font-size: x-large;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -150px;
    margin-left: -15px;
}
/*main-content*/
.main-content {
    margin:250px;
}
/*breadcrumb*/
.e-breadcrumb a, .e-br a:hover {
    text-decoration: none!important;
    color: inherit !important;
}

/*button*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none;
}
/*HyperLink*/
.no-a-decoration, .no-a-decoration:hover{
    text-decoration:none;
    color:inherit;
}
/*grid*/
.e-grid{
    border:0;
    border-radius:5px;
}
.e-grid .e.gridcontent, .e-grid .e-table {
    background-color: #1a222b;
}
    .e-grid .e-gridheader{
        border:5px;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        padding:5px;
        background-color:#222b33;
    }
    /*radiobuttongroup*/

    .e-btn-group.custom-rbt-group {
        width: 100%;
    }
.e-btn-group.custom-rbt-group .e-btn {
    width: 50%;
}
/*navbar*/
nav.navbar{
    background-color:rgba(18 ,22, 29);
}
nav.nav i{
    padding: 10px;
    border-radius: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}
 nav.navbar i:hover,nav-navbar img:hover{
     cursor: pointer;
     background-color: #48545f14;
     transform:scale(1.08) translateZ(0px);
 }

/*profile-pic*/
img.profile-pic{
    width: 46px;
    height: 45px;
    border-radius: 50%;
}

.custom-rbt-group label.e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}
.custom-rbt-group.custom-rbt-group input:checked + label.e-btn {
    background-color:#fff;
    color:#212b36;
    border:1px solid #fff;
}
/*sidebar*/

#sidebar {
    background-color: #12161d;
    border-right: 1px dashed rgba(75,82,85,0,24);
    padding: 8px 15px;
}
.widget{
    border-radius:1rem;
    background-color: #1a222b;
}
.widget.summury > div:first-child{
    background-color:#222b33;
    padding:1rem;
    border-top-left-radius:1rem;
    border-bottom-left-radius:1rem;

}
.widget.summury > div:first-child i{
    font-weight:bold;
}
    .widget.income > div:first-child {
        color: #65da41;
    }
    .widget.expense > div:first-child {
        color: #ff4e48;
    }
    .widget.balance > div:first-child {
        color: #2aa1ff;
    }
.widget.chart{
    padding:5px;
}